<p id="notice"><%= notice %></p>

<p>
  <strong>Room number:</strong>
  <%= @classroom.room_number %>
</p>

<%= link_to 'Edit', edit_classroom_path(@classroom) %> |
<%= link_to 'Back', classrooms_path %>
