<h1>Select a Student to Login As</h1>

<table>
  <thead>
    <tr>
      <th>Student Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.full_name %></td>
        <td>
          <%= button_to "Login as #{student.full_name}", login_as_student_path(student), method: :post %>
          <%= button_to "Show Schedule", student_path(student), method: :get %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
